<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/meta.ejs")  %> 
    <title>RecipEasy: My Recipes</title>
</head>
<body>
    <div class="container">
        <%- include('partials/header-nav.ejs') %> 
        <main>
            <div class="dashboard">
                <h2>Dashboard</h2>
                <h3> My Recipes </h3>
                <% if(typeof(flashMessage) != "undefined"){%>
                    <h4 class="text-alert"><%= flashMessage %></h4>
                <% } %>
                <div class="recipe-grid">
                <% for (var recipe of recipes) {
                %>
                    <div class="recipe-card">
                        <div class="recipe-img-details">
                            <img src="/uploads/<%= recipe.rPhotoName%>" alt="recipe photo">
                            <div>
                            <p><i class="fa fa-cutlery" aria-hidden="true"></i> &nbsp; <b> <%= recipe.rRecipeName %>  </b></p>
                            <p><i class="fa fa-user" aria-hidden="true"></i> &nbsp; <%= recipe.rUserName %> <br> <br>
                                <a href="/print/<%= recipe._id %>"> <i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp; &nbsp; 
                                <a href="/edit-recipe/<%= recipe._id %>"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp; &nbsp; 
                                <a href="/delete-recipe/<%= recipe._id %>"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="recipe-card-hover">
                            <p>Descripton: <%- recipe.rDescription %></p>
                        </div>
                    </div>
                <%
                } %> 
                </div>
            </div>
        </main>
        <%- include("partials/footer.ejs")  %> 
    </div>
</body>
</html>