<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include("partials/meta.ejs")  %> 
      <title>RecipEasy: Deleted recipe</title>
    </head>
    <body>
      <!-- cursor -->
    <div class="cursor"></div>
    <script>
      const cursor = document.querySelector(".cursor");
      var timeout;
      document.addEventListener("mousemove", (e) => {
      let x = e.pageX;
      let y = e.pageY;

      cursor.style.top = y + "px";
      cursor.style.left = x + "px";
      cursor.style.display = "block";

      function mouseStopped() {
        cursor.style.display = "none";
      }
      clearTimeout(timeout);
      timeout = setTimeout(mouseStopped, 1000);
    });

      document.addEventListener("mouseout", () => {
      cursor.style.display = "none";
    });
    </script>
      <div class="container">
        <%- include('partials/header-nav.ejs') %> 
        <main>
          <div>
            <h1>Thank you</h1>
            <h4>Following recipe has been successfully deleted!</h4>
          </div>
          <div class="show-recipe">
            <section class="request-image">
              <% if (rPhotoName != ""){ %>
              <img src="/uploads/<%= rPhotoName%>" /> <br />
              <% } %>
            </section>
            <section class="recipe-details">
              <h2><b>Recipe Name:</b> <%= rRecipeName %></h2>
              <p><b>Description:</b> <br> <%- rDescription %></p>
            </section>
          </div>
        </main>
        <%- include("partials/footer.ejs")  %> 
      </div>
    </body>
</html>