<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/meta.ejs")  %> 
    <title>RecipEasy: Featured Recipes</title>
</head>
<body>
    <!-- cursor -->
    <div class="cursor"></div>
    <script>
      const cursor = document.querySelector(".cursor");
      var timeout;
      document.addEventListener("mousemove", (e) => {
      let x = e.pageX;
      let y = e.pageY;

      cursor.style.top = y + "px";
      cursor.style.left = x + "px";
      cursor.style.display = "block";

      function mouseStopped() {
        cursor.style.display = "none";
      }
      clearTimeout(timeout);
      timeout = setTimeout(mouseStopped, 1000);
    });

      document.addEventListener("mouseout", () => {
      cursor.style.display = "none";
    });
    </script>
    <div class="container">
        <%- include('partials/header-nav.ejs') %> 
        <main>
            <div class="dashboard">
                <h2>RecipEasy Featured</h2>
                <div class="recipe-grid">
                <% for (var recipe of recipes) {
                %>
                    <div class="recipe-card">
                        <div class="recipe-img-details">
                            <img src="/uploads/<%= recipe.rPhotoName%>" alt="recipe photo">
                            <div>
                            <p><i class="fa fa-cutlery" aria-hidden="true"></i> <b> <%= recipe.rRecipeName %>  </b></p>
                            <p> <a href="/user-recipe/<%= recipe.rUserName %>"> <i class="fa fa-user" aria-hidden="true"></i> <%= recipe.rUserName %> </a>  <br> <br>
                                <a href="/print/<%= recipe._id %>"> <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;View</a> 
                                </p>
                            </div>
                        </div>
                        <div class="recipe-card-hover">
                        <p>Descripton: <%- recipe.rDescription %></p>
                        </div>
                    </div>
                <% } %> 
                </div>
            </div>
        </main>
        <%- include("partials/footer.ejs")  %> 
    </div>
</body>
</html>