<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta.ejs") %>
    <title>RecipEasy: Show recipe</title>
  </head>
  <body>
    <div class="container">
      <%- include('partials/header-nav.ejs') %>
      <main>
        <div class="show-recipe">
          <section class="request-image">
            <% if (rPhotoName != ""){ %>
            <img src="/uploads/<%= rPhotoName%>" /> <br />
            <% } %>
          </section>
          <section class="recipe-details">
            <h2><b>Recipe Name:</b> <%= rRecipeName %></h2>
            <p>
              <b> RecipeID: <%= _id %> </b> <br>
              <b>Chef: </b> <%= rName %> <br />
              <b>Email:</b> <%= rEmail %>
            </p>
            <p><b>Description:</b> <br> <%- rDescription %></p>
            <a href="/edit-recipe/<%= _id %>"> <b>Edit</b> </a> -- 
            <a href="/delete-recipe/<%= _id %>"> <b>Delete</b> </a>
          </section>
        </div>
      </main>
      <%- include("partials/footer.ejs") %>
    </div> 
  </body>
</html>
